{% extends 'base.html.twig' %}

{% block body %}

<h1>Météo des plages</h1>

<p>
Laoreet tempus imperdiet feugiat sagittis sem. Habitasse suspendisse class fermentum natoque fermentum sollicitudin natoque leo. Nibh dui euismod pretium lacus rutrum. Luctus himenaeos potenti purus nibh morbi cras primis urna semper! Libero, a netus dictumst maecenas non laoreet senectus. Magnis tempor mi luctus lacinia molestie elit pharetra pulvinar consequat gravida? Aenean sem nunc morbi. Turpis purus turpis aliquam bibendum pretium per aliquam suspendisse at. Mus!
</p>

{% endblock %}